<div class="form-group">
    <label asp-for="CategoryId"></label>
    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control">
        <option value="">-- Select Category --</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</div>
